#red{
  background-color: red;
  margin: auto;
  color: white;
  width: 200px;
  height: 200px;
  font-size: 35px;
  text-align: center;
}
#green{
  background-color: green;
  margin: auto;
  color: white;
  width: 200px;
  height: 200px;
  font-size: 35px;
  text-align: center;
}
